
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans;
}





.container {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;



}

header {
    background-color: #252679;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10px;
    padding: 8px;

}


header img {
    width: 20%;

}

header .anc a {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #E6600E;
    text-decoration: none;
    color: #FFFFFF;
    padding: 6px 11px 6px 11px;
    height: 34px;
    border: none;
}

.container2 {
    display: flex;
    justify-content: center;



}

.image img {
    width: 104px;
    padding-top: 60px;

}

.container3 {
    display: flex;
    justify-content: center;
}

.follow {
    padding: 20px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 20px;
}

.container4 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;

    
}
.container4 a{
    text-decoration: none;
}

.box1{
    display: flex;
    border-radius:8px ;
    padding: 12px;
    gap: 10px;
    border:2px solid black;
    background-color: #FFFFFF;
    border: none;
    margin: 10px;
}

.text1 a{
    font-size: 20px;
    font-weight: 700;
    color:black
}

.box2{
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    border: none;
    background-color:#FFFFFF;
    padding:12px;
    gap: 10px;
    margin: 10px;
}
.text2 a{
    font-size: 20px;
    font-weight: 700;
    color:black;
}

.box3{
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    border: none;
    background-color: #FFFFFF;
    padding: 12px;
    gap: 10px;
    margin: 10px;
}

.text3 a{
    font-size: 20px;
    font-weight: 700;
    color: black;

}

.box4{
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    border: none;
    padding: 12px;
    gap: 10px;
    margin: 10px;
    background-color: #FFFFFF;
}
.text4 a{
    font-size: 20px;
    font-weight: 700;
color: black;

}

.footer{
    
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    margin-top: 20px;
}


@media (min-width:400px)
{
    .container {
        display: grid;
        grid-template-rows: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    
}





















































































